body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    text-align: center;
}

header {
    background-color: #e63946;
    padding: 20px;
}

h1 {
    margin: 0;
}

.content, .download {
    padding: 20px;
}

footer {
    background-color: #111;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}